body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body.dark {
    background-color: black;
    color: white;
}

@font-face {
    font-family: CenturyGothic;
    font-weight: bold;
    src: url(../site/ressources/fonts/GOTHICB.woff);
}

p.categorie {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 30px;

    margin: 0;

    font-weight: bold;
    font-family: CenturyGothic, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20pt;
}

div.top {
    color: white;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    font-family: CenturyGothic, Helvetica Neue, Helvetica, Arial, sans-serif;

    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
    z-index: 99;

    cursor: default;

    height: 70px;
    width: 100%;
    margin: 0;
    background-color: #1D2953;
    border-radius: 0 0 15px 15px;
}

.soyezpret div.top {
    background-color: #099DE1;
}

div.cells {
    position: relative;
    top: 15px;
    margin-bottom: 100px;
}

div.toptitle {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: 12px;
    left: 75px;
    width: auto;
}

div.toptitlenlogo {
    position: absolute;
    left: 0px;
}

h1.title {
    display: inline;
    padding-bottom: 10px;
    font-size: min(5.5vw, 30px);
    font-weight: bold;
    margin: 0;
}

h5.topsub {
    font-weight: bold;
    width: 100%;
    display: inline;
    font-size: 10px;
    padding-left: 2px;
    margin: 0;
}

button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: contain;
    border-style: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

button.i {
    top: 17.5px;
    right: 17.5px;
    background-image: url("ressources/i.png");
    height: 35px;
    width: 35px;
}

button.logo {
    background-image: url("../site/ressources/logo.png");
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
}

#hidden {
    display: none;
}

cell {
    display: flex;
    flex-direction: row;
    align-items: top;
    position: relative;

    cursor: default;
    
    height: auto;
    margin: 0px 10px;
    padding: 15px 5px;
    border-radius: 20px;

    font-size: 17px;

    -webkit-text-size-adjust: 115%;
}

.article {
    display: block;
    background-color: rgb(235, 235, 240);
    padding: 0;
    overflow: hidden;
    margin-bottom: 5px;
    margin-left: 10px;
}

.dark .article {
    background-color: rgb(30, 30, 30);
}

.webView {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 240);
    padding: 0;
    overflow: hidden;
    margin-bottom: 5px;
}

.dark .webView {
    background-color: rgb(30, 30, 30);
}

.babillard {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 240);
    padding: 0;
    overflow: hidden;
    margin-bottom: 5px;
}

.dark .babillard {
    background-color: rgb(30, 30, 30);
}

div .annonces {
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: auto;
    width: auto;
    background-color: rgb(255, 255, 255);
}

.dark div.annonces {
    background-color: rgb(0, 0, 0);
}

div.annonce-wrapper {
    display: inline-block;
}

annonce {
    display: flex;
    align-items: center;
    height: 215px;
    width: 150px;
    margin: 15px 5px;
    background-color: rgb(235, 235, 240);
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

annonce img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

annonce > div.annonce-text {
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
}

annonce > div.annonce-text textarea {
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    overflow: hidden;
    resize: none;
    padding: 0;
    margin: 0;
    width: 100%;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    font-weight: inherit;
}

annonce, annonce * {
    cursor: pointer;
}

.dark annonce {
    background-color: rgb(30, 30, 30);
}

.webView iframe {
    display: block;
    border-style: none;
    padding: 0px 0px;
    padding-top: 10px;
    left: 0;
    display: block;

    width: 100%;
    height: min(40vw, 350px);
}

.webView button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 35px;
    width: 230px;
    border-radius: 12px;

    font-size: 15px;
    font-family: CenturyGothic, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: inherit;

    box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.23);
    background-color: inherit;
}

img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.article img {
    position: inherit;
    height: auto;
    padding: 0px 0px;
    width: 100%;
    display: block;
}

.webView img {
    margin-left: 6px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
}

.webView img-container {
    height: 50px;
}

.babillard img.pin-image {
    padding: 5px 5px;
    height: 50px;
    width: 50px;
    display: inline;
}

.mouseOver.article {
    transition: all 0.2s;
    background-color: rgb(220, 220, 230);
    padding-left: 0px;
}

.dark .mouseOver.article {
    transition: all 0.2s;
    background-color: rgb(40, 40, 40);
}

.mouseOut.article {
    transition: all 0.2s;
    background-color: rgb(235, 235, 240);
    padding-left: 0px;
}

.dark .mouseOut.article {
    transition: all 0.2s;
    background-color: rgb(30, 30, 30);
}

.mouseOver.webView {
    transition: all 0.2s;
    background-color: rgb(220, 220, 230);
    padding-left: 0px;
}

.dark .mouseOver.webView {
    transition: all 0.2s;
    background-color: rgb(40, 40, 40);
}

.mouseOut.webView {
    transition: all 0.2s;
    background-color: rgb(235, 235, 240);
    padding-left: 0px;
}

.dark .mouseOut.webView {
    transition: all 0.2s;
    background-color: rgb(30, 30, 30);
}

.mouseOver.babillard {
    transition: all 0.2s;
    background-color: rgb(220, 220, 230);
    padding-left: 0px;
}

.dark .mouseOver.babillard {
    transition: all 0.2s;
    background-color: rgb(40, 40, 40);
}

.mouseOut.babillard {
    transition: all 0.2s;
    background-color: rgb(235, 235, 240);
    padding-left: 0px;
}

.dark .mouseOut.babillard {
    transition: all 0.2s;
    background-color: rgb(30, 30, 30);
}

.notification {
    background-color: rgb(235, 235, 240);
    margin-bottom: 5px;
}

.dark .notification {
    background-color: rgb(30, 30, 30);
    margin-bottom: 5px;
}

.mouseOver.notification {
    transition: all 0.2s;
    background-color: rgb(220, 220, 230);
}

.dark .mouseOver.notification {
    transition: all 0.2s;
    background-color: rgb(40, 40, 40);
}

.mouseOut.notification {
    transition: all 0.2s;
    background-color: rgb(235, 235, 240);
    padding-left: 10px;
}

.dark .mouseOut.notification {
    transition: all 0.2s;
    background-color: rgb(30, 30, 30);
    padding-left: 10px;
}

.mouseOver {
    transition: all 0.2s;
    background-color: rgba(160, 160, 160, 0.15);
    padding-left: 18px;
}

.mouseOut {
    transition: all 0.2s;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 10px;
}

.transitionLeft {
    transition: all 0.3s;
    transform: translateX(-20%);
    opacity: 0%;
}

.fadeIn {
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    0% { opacity: 0%; left: 10%; }
    100% { opacity: 100%; left: 0px; }
}

emoji {
    font-size: 50px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
}

.article description {
    padding: 16px 16px;
}

.webView description {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 65px;
}

.babillard description {
    padding-left: 5px;
}

.babillard .babillard-top {
    display: flex;
    flex-direction: row;
}

.article.mouseOver description {
    transition: all, 0.2s;
    padding: 16px 24px;
}

.article.mouseOut description {
    transition: all, 0.2s;
}

cell-title {
    font-size: 17px;
}

.article cell-title {
    font-size: 17px;
    font-weight: bold;
}

.webView cell-title {
    font-size: 17px;
    font-weight: 500;
}

.babillard cell-title {
    font-size: 17px;
    font-weight: 500;
}

cell-subtitle {
    font-size: 12px;
    color: rgb(102, 102, 102);
    padding: 5px 0px;
}

.dark cell-subtitle {
    color: rgb(153, 153, 153);
}

.webView cell-subtitle {
    padding-top: 1px;
}

div.retour {
    display: flex;
    cursor: pointer;
}

h2.retour {
    display: flex;
    flex-direction: row;
    align-items: top;
    position: relative;
    
    margin: 5px 10px;
    padding: 15px 15px;
    border-radius: 20px;

    font-size: 25px;
    font-family: CenturyGothic, Helvetica Neue, Helvetica, Arial, sans-serif;
}

button.retour {
    position: relative;
    top: 100px;
    background-image: url("../site/ressources/back.png");
    top: 0px;
    left: 15px;
    height: 80px;
    width: 80px;
}
