body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    margin-bottom: 10px;
}

body.dark {
    background-color: black;
    color: white;
}

@font-face {
    font-family: CenturyGothic;
    src: url(../site/ressources/fonts/GOTHIC.woff);
}

@font-face {
    font-family: CenturyGothic;
    font-weight: bold;
    src: url(../site/ressources/fonts/GOTHICB.woff);
}

div.top {
    color: white;
    position: fixed;

    font-family: CenturyGothic, Helvetica Neue, Helvetica, Arial, sans-serif;

    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
    z-index: 99;

    cursor: default;

    height: 70px;
    width: 100%;
    margin: 0;
    background-color: #1D2953;
    border-radius: 0 0 15px 15px;
}

div.cells {
    position: relative;
    top: 80px;
    margin-bottom: 100px;
}

div.toptitle {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: 12px;
    left: 75px;
    width: auto;
}

div.toptitlenlogo {
    position: absolute;
    left: 0px;
}

h1.title {
    display: inline;
    padding-bottom: 10px;
    font-size: min(5.5vw, 30px);
    font-weight: bold;
    margin: 0;
}

h5 {
    width: 100px;
    display: inline;
    font-size: 10px;
    padding-left: 2px;
    margin: 0;
}

button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: contain;
    border-style: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

button.i {
    top: 17.5px;
    right: 17.5px;
    background-image: url("ressources/i.png");
    height: 35px;
    width: 35px;
}

button.logo {
    background-image: url("../site/ressources/logo.png");
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
}

#hidden {
    display: none;
}

cell {
    display: flex;
    flex-direction: row;
    align-items: top;
    position: relative;

    cursor: default;
    
    height: auto;
    margin: 0px 10px;
    padding: 15px 5px;
    border-radius: 20px;

    font-size: 17px;

    -webkit-text-size-adjust: 115%;
}

.article {
    display: block;
    background-color: rgb(235, 235, 240);
    padding: 0;
    overflow: hidden;
    margin-bottom: 5px;
    margin-left: 10px;
}

.dark .article {
    background-color: rgb(30, 30, 30);
}

img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.article img {
    position: inherit;
    height: auto;
    padding: 0px 0px;
    width: 100%;
    display: block;
}

.mouseOver.article {
    transition: all 0.2s;
    background-color: rgb(220, 220, 230);
    padding-left: 0px;
}

.dark .mouseOver.article {
    transition: all 0.2s;
    background-color: rgb(40, 40, 40);
}

.mouseOut.article {
    transition: all 0.2s;
    background-color: rgb(235, 235, 240);
    padding-left: 0px;
}

.dark .mouseOut.article {
    transition: all 0.2s;
    background-color: rgb(30, 30, 30);
}

.notification {
    background-color: rgb(235, 235, 240);
    margin-bottom: 5px;
}

.dark .notification {
    background-color: rgb(30, 30, 30);
    margin-bottom: 5px;
}

.mouseOver.notification {
    transition: all 0.2s;
    background-color: rgb(220, 220, 230);
}

.dark .mouseOver.notification {
    transition: all 0.2s;
    background-color: rgb(40, 40, 40);
}

.mouseOut.notification {
    transition: all 0.2s;
    background-color: rgb(235, 235, 240);
    padding-left: 10px;
}

.dark .mouseOut.notification {
    transition: all 0.2s;
    background-color: rgb(30, 30, 30);
    padding-left: 10px;
}

.mouseOver {
    transition: all 0.2s;
    background-color: rgba(160, 160, 160, 0.15);
    padding-left: 18px;
}

.mouseOut {
    transition: all 0.2s;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 10px;
}

.transitionLeft {
    transition: all 0.3s;
    transform: translateX(-20%);
    opacity: 0%;
}

.fadeIn {
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    0% { opacity: 0%; left: 10%; }
    100% { opacity: 100%; left: 0px; }
}

emoji {
    font-size: 50px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
}

.article description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 16px;
}

.article.mouseOver description {
    transition: all, 0.2s;
    padding: 16px 24px;
}

.article.mouseOut description {
    transition: all, 0.2s;
}

cell-title {
    font-size: 17px;
}

.article cell-title {
    font-size: 17px;
    font-weight: bold;
}

cell-subtitle {
    font-size: 12px;
    color: rgb(102, 102, 102);
    padding: 5px 0px;
}

.dark cell-subtitle {
    font-size: 12px;
    color: rgb(153, 153, 153);
    padding: 5px 0px;
}

div.retour {
    display: flex;
    cursor: pointer;
}

h2.retour {
    display: flex;
    flex-direction: row;
    align-items: top;
    position: relative;
    
    margin: 5px 10px;
    padding: 15px 15px;
    border-radius: 20px;

    font-size: 25px;
    font-family: CenturyGothic, Helvetica Neue, Helvetica, Arial, sans-serif;
}

button.retour {
    position: relative;
    top: 100px;
    background-image: url("../site/ressources/back.png");
    top: 0px;
    left: 15px;
    height: 80px;
    width: 80px;
}