body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 15px;
    -webkit-text-size-adjust: 120%;
}

body.dark {
    background-color: black;
    color: white;
}

cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    
    height: auto;
    margin: 0px 10px;
    padding: 15px 15px;
    border-radius: 20px;

    font-size: 17px;
}

.article {
    display: block;
    background-color: rgb(235, 235, 240);
    padding: 0;
    margin: 10px 20px;
    overflow: hidden;
}

.dark .article {
    display: block;
    background-color: rgb(30, 30, 30);
    padding: 0px 0px;
    overflow: hidden;
}

img {
    width: 80px;
    height: 80px;
    object-fit: contain;    
}

.article img {
    position: inherit;
    height: auto;
    padding: 0px 0px;
    width: 100%;
    display: block;
}

.mouseOver.article {
    transition: all 0.2s;
    background-color: rgb(220, 220, 230);
    margin: 10px 15px;
}

.dark .mouseOver.article {
    transition: all 0.2s;
    background-color: rgb(40, 40, 40);
}

.mouseOut.article {
    transition: all 0.2s;
    background-color: rgb(235, 235, 240);
    padding-left: 0px;
}

.dark .mouseOut.article {
    transition: all 0.2s;
    background-color: rgb(30, 30, 30);
    padding-left: 0px;
}

.notification {
    background-color: rgb(235, 235, 240);
}

.dark .notification {
    background-color: rgb(30, 30, 30);
}

.mouseOver.notification {
    transition: all 0.2s;
    background-color: rgb(220, 220, 230);
}

.dark .mouseOver.notification {
    transition: all 0.2s;
    background-color: rgb(40, 40, 40);
}

.mouseOut.notification {
    transition: all 0.2s;
    background-color: rgb(235, 235, 240);
    padding-left: 10px;
}

.dark .mouseOut.notification {
    transition: all 0.2s;
    background-color: rgb(30, 30, 30);
    padding-left: 10px;
}

.mouseOver {
    transition: all 0.2s;
    background-color: rgba(160, 160, 160, 0.2);
    padding-left: 18px;
}

.mouseOut {
    transition: all 0.2s;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 10px;
}

.transitionLeft {
    transition: all 0.3s;
    transform: translateX(-20%);
    opacity: 0%;
}

.fadeIn {
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    0% { opacity: 0%; left: 10%; }
    100% { opacity: 100%; left: 0px; }
}

emoji {
    font-size: 50px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
}

.article description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 16px;
}

cell-title {
    font-size: 17px;
}

.article cell-title {
    font-size: 17px;
    font-weight: 500;
}

cell-subtitle {
    font-size: 12px;
    color: rgb(102, 102, 102);
    padding: 5px 0px;
}

.dark cell-subtitle {
    font-size: 12px;
    color: rgb(153, 153, 153);
    padding: 5px 0px;
}